<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Update</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>

<body>
    <form action="/show/<%=blog._id%>/update?_method=PUT" method="POST">
        <input type="text" name="title" value="<%=blog.title%>">
        <input type="text" name="author" value="<%=blog.author%>">
        <textarea name="article" id="" cols="30" rows="10"><%=blog.article%></textarea>
        <input type="submit" name="submit">
    </form>
</body>

</html>